.advantages {
   padding: 75px 15px 65px 15px;
   min-height: 475px;
   background: #f6f6f6;
   &__wrapper {
      padding-top: 65px;
      display: flex;
      justify-content: space-between;
   }
   &__item {
      width: 240px;
   }
   &__icons {
      display: block;
      margin: 0 auto;
   }
   &__descr {
      margin-top: 35px;
      color: #0d0d0d;
   }
   &__header {
      font-weight: 700;
      font-size: 18px;
      text-align: center;
   }
   &__text {
      margin-top: 20px;
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      a {
         color: #ff0000;
         &:hover {
            text-decoration: none;
         }
      }
   }
}
