.scrollUp{
  background-color: transparent;
  padding: 0;
  border:none;
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  opacity: .2;
  transition: all .5s;
  & img{
    width: 100%;
  }
  &:hover{
    opacity: 1;
    transition: all .5s;
  }
}